body{
    background-color: rgb(227, 226, 247);

    h1{
        color: rgb(117, 93, 255);
        text-transform: uppercase;
    }
    p{
        color: rgb(47, 44, 65);
        font-size: 1.5rem;
    }
}