body {
  margin: 0;
  color: #120f1f; }
  body h1 {
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    margin: auto;
    margin-left: 9%; }
  body #layout_main {
    height: 100%; }
  body h1 {
    color: #120f1f; }
  body form input {
    display: block;
    width: 400px;
    padding: 2px;
    margin: 6px;
    font-size: 1.1rem; }
